<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>CV Data Extractor</h1>
    <form method="POST" enctype="multipart/form-data">
        <span>Select Multiple Files and Click Upload</span>
        <div class="actions">
            <input class="upload btn" type="file" name="file" multiple/>
            <button type="submit" class="btn">Upload</button>
        </div>
        <a href="/process" class="btn download-btn">Download Excel Sheet</a>
    </form>
</body>
</html>
